:root {
  --quest-chat-color-text: #fff;
  --quest-chat-color-important: #fa0;
  --quest-chat-color-valid: #4f4;
  --quest-chat-color-invalid: #fa0;
  --quest-chat-color-info: #aaa;
  --quest-chat-color-bg: #000a;
  --quest-chat-ui-border: 5px ridge var(--quest-chat-color-important);
}

.QuestChatImportant, .QuestChatTitle {
  color: var(--quest-chat-color-important);
}

.QuestChatTitle {
  font-size: 120%;
}

.QuestChatSmaller {
  font-size: 80%;
}

.QuestChatInfo {
  color: var(--quest-chat-color-info);
}

.QuestChatValidKey {
  color: var(--quest-chat-color-valid);
}

.QuestChatInvalidKey {
  color: var(--quest-chat-color-invalid);
}

.QuestChatClickable {
  cursor: pointer;
  pointer-events: all;
  text-decoration: underline;
}

.QuestChatBody {
  padding: 0.5em;
  margin: 0.5em;
  background-color: var(--quest-chat-color-bg);
  font-family: 'Noto Sans Mono', monospace;
  font-size: 12px;
}

.QuestChatDialog {
  width: 500px;
  height: 700px;
  padding: 0;
  margin: 0;
}

.QuestChatContent, .QuestChatInputRow {
  border: var(--quest-chat-ui-border);
  background-color: var(--quest-chat-color-bg);
  padding: 0.3em;
  box-sizing: border-box;
  width: 100%;
}

.QuestChatContent {
  overflow-y: scroll;
  position: relative;
  height: 650px;
  padding: 1em;
}

.QuestChatInputRow {
  height: 50px;
  padding: 0.5em;
  position: relative;
}

.QuestChatReset {
  all: revert;
}

.QuestChatInputField {
  position: absolute;
  left: 0.5em;
  width: calc(100% - 100px);
  height: 20px;
}

.QuestChatSubmitButton {
  position: absolute;
  right: 0.5em;
  width: 70px;
  height: 25px;
}

.QuestChatUserTopic, .QuestChatAgentTopic {
  margin-bottom: 1em;
}

.QuestChatAgentTopic {
  background-color: #fff2;
}
